* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/* LOGIN */
.login-bg {
  height: 100vh;
  background: linear-gradient(135deg,#667eea,#764ba2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 15px;
  text-align: center;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.login-card button {
  width: 100%;
  padding: 10px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 20px;
}

#error {
  color: red;
}

/* DASHBOARD */
.dash-bg {
  background: #f4f6fb;
}

header {
  background: #667eea;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.class-box {
  text-align: center;
  padding: 20px;
}

.class-btn {
  margin: 8px;
  padding: 10px 20px;
  background: #764ba2;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* SEARCH */
.search-box {
  text-align: center;
  margin: 10px;
}

.search-box input {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

/* OPTIONS */
.options-box {
  text-align: center;
  margin-bottom: 10px;
}

/* TABLE */
table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th {
  background: #667eea;
  color: white;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.edit-btn {
  background: #667eea;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

/* NO RESULT */
#noResult {
  display: none;
  text-align: center;
  margin-top: 15px;
  font-style: italic;
}
